body{
     background-color:#fff;
     border:0;
     padding:0;
}

*{
box-sizing:border-box;
padding:0;
margin:0;
}


.container{
position:relative;
}

.position-relative1{
width:100%;
height:100px;
background-color: red;
position:relative;
top:0px
}


.position-sticky{
width:100%;
height:100px;
background-color:green;
position:sticky;

}
.position-fixed{
width:25%;
height:300px;
background-color:yellow;
right:0px;
position:fixed;

}
.position-relative2{
width:75%;
height:300px;
background-color:grey;
left:0px;
position:relative;

}
.position-absolute2{
width:100%;
height:225px;
background-color:purple;
position:absolute;

}
.position-relative3{
width:100%;
height:100px;
background-color:brown;
position:static;

}


