* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.modal-backdrop.show {
    opacity: 0;
}

.modal-backdrop.fade.show {
    position: static;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
* ::after, ::before {
    box-sizing: border-box;
}

div {
    display: block;
}
#carousel_items {
    margin-top: 12px;
    background-color: white;
    text-align: center;
    height: 350px;
}
#row{
    height: fit-content;!important
}

#card1{
    height: 500px;
}

#c_i_1{
    text-align: center;
    vertical-align: middle;
}