
.logo{
height:58px;
}
ul a{
	border:2px solid white;
	margin-right:10px;
	color:white;
	
	
}
.ali{
	margin-top:150px;
	font-size:50px;
	font-family:Arial, Helvetica, sans-serif;
	color:white;
	
}
.ali2{
	font-size:20px;
}
body{
        background-image: url("https://mdbootstrap.com/img/new/fluid/city/018.jpg");
        height: 100vh;
      }

 @media (min-width: 992px) {
        #intro {
          margin-top: -58.59px;
        }
      }
